@model Almacen.Web.Models.Producto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h4>Producto</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IDCategoria)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IDCategoria)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Existencia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Existencia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UltimoMovimiento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UltimoMovimiento)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
